<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>co.getflipper.flipper</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>SF-UI-Display-Black</string>
		<string>SF-UI-Display-Bold</string>
		<string>SF-UI-Display-Heavy</string>
		<string>SF-UI-Display-Light</string>
		<string>SF-UI-Display-Medium</string>
		<string>SF-UI-Display-Regular</string>
		<string>SF-UI-Display-Semibold</string>
		<string>SF-UI-Display-Thin</string>
		<string>SF-UI-Display-Ultralight</string>
		<string>SF-UI-Text-Bold</string>
		<string>SF-UI-Text-BoldItalic</string>
		<string>SF-UI-Text-Heavy</string>
		<string>SF-UI-Text-HeavyItalic</string>
		<string>SF-UI-Text-Light</string>
		<string>SF-UI-Text-LightItalic</string>
		<string>SF-UI-Text-Medium</string>
		<string>SF-UI-Text-MediumItalic</string>
		<string>SF-UI-Text-Regular</string>
		<string>SF-UI-Text-RegularItalic</string>
		<string>SF-UI-Text-Semibold</string>
		<string>SF-UI-Text-SemiboldItalic</string>
	</array>
	<key>UIMainStoryboardFile</key>
	<string>Intro</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1675013862737618</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>1675013862737618</string>
	<key>FacebookDisplayName</key>
	<string>flipper</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>facebook.com</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
			<key>fbcdn.net</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
			<key>akamaihd.net</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
		</dict>
	</dict>
    <key>LSApplicationQueriesSchemes</key>
    <array>
        <string>fbapi</string>
        <string>fb-messenger-api</string>
        <string>fbauth2</string>
        <string>fbshareextension</string>
    </array>
</dict>
</plist>
